src/main/resources/wsdl/getKlant.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="urn:ksr" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:ksr">
    <types>
        <xsd:schema targetNamespace="urn:ksr">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
            <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
            <xsd:complexType name="DomeinenArray">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Domeinen[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Domeinen">
                <xsd:all>
                    <xsd:element name="domein_id" type="xsd:int" />
                    <xsd:element name="domeinnaam" type="xsd:string" />
                    <xsd:element name="is_hoofddomein" type="xsd:string" />
                    <xsd:element name="sidn_status" type="xsd:int" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="InterfacesArray">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Interfaces[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Interfaces">
                <xsd:all>
                    <xsd:element name="int_id" type="xsd:int" />
                    <xsd:element name="interfacenaam" type="xsd:string" />
                    <xsd:element name="omschrijving" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="IPv4Array">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:IPv4[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="IPv4">
                <xsd:all>
                    <xsd:element name="prefix" type="xsd:string" />
                    <xsd:element name="zone_status" type="xsd:int" />
                    <xsd:element name="omschrijving" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="IPv6Array">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:IPv6[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="IPv6">
                <xsd:all>
                    <xsd:element name="prefix" type="xsd:string" />
                    <xsd:element name="zone_status" type="xsd:int" />
                    <xsd:element name="omschrijving" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ContactsArray">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Contacts[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Contacts">
                <xsd:all>
                    <xsd:element name="naam" type="xsd:string" />
                    <xsd:element name="tel" type="xsd:string" />
                    <xsd:element name="mail" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ContactsgroepArray">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Groeps[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Groeps">
                <xsd:all>
                    <xsd:element name="voornaam" type="xsd:string" />
                    <xsd:element name="naam" type="xsd:string" />
                    <xsd:element name="initialen" type="xsd:string" />
                    <xsd:element name="tel" type="xsd:string" />
                    <xsd:element name="mail" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="NawArray">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Naw[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Naw">
                <xsd:all>
                    <xsd:element name="Selectiecode" type="xsd:string" />
                    <xsd:element name="Voornaam" type="xsd:string" />
                    <xsd:element name="Achternaam" type="xsd:string" />
                    <xsd:element name="Tel" type="xsd:string" />
                    <xsd:element name="Tel_mobiel" type="xsd:string" />
                    <xsd:element name="Email" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ColoArray">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Colo[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Colo">
                <xsd:all>
                    <xsd:element name="site_id" type="xsd:string" />
                    <xsd:element name="bezoekadres" type="xsd:string" />
                    <xsd:element name="bezoekpostcode" type="xsd:string" />
                    <xsd:element name="bezoekplaats" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="Klantnamen">
                <xsd:all>
                    <xsd:element name="klantnamen" type="tns:KlantenArray" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="KlantenArray">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Klanten[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Klanten">
                <xsd:all>
                    <xsd:element name="klant_id" type="xsd:int" />
                    <xsd:element name="klantnaam" type="xsd:string" />
                    <xsd:element name="klantafkorting" type="xsd:string" />
                    <xsd:element name="naw_ref" type="xsd:string" />
                    <xsd:element name="klassenaam" type="xsd:string" />
                    <xsd:element name="domeinnamen" type="tns:DomeinenArray" />
                    <xsd:element name="interfacenamen" type="tns:InterfacesArray" />
                    <xsd:element name="ipv4" type="tns:IPv4Array" />
                    <xsd:element name="ipv6" type="tns:IPv6Array" />
                    <xsd:element name="naw" type="tns:NawArray" />
                    <xsd:element name="colo" type="tns:ColoArray" />
                    <xsd:element name="instellingsbevoegden" type="tns:ContactsgroepArray" />
                    <xsd:element name="postadres" type="xsd:string" />
                    <xsd:element name="postpostcode" type="xsd:string" />
                    <xsd:element name="postplaats" type="xsd:string" />
                    <xsd:element name="bezoekadres" type="xsd:string" />
                    <xsd:element name="bezoekpostcode" type="xsd:string" />
                    <xsd:element name="bezoekplaats" type="xsd:string" />
                    <xsd:element name="eigenaar_naam" type="xsd:string" />
                    <xsd:element name="icp_naam" type="xsd:string" />
                    <xsd:element name="icp_tel" type="xsd:string" />
                    <xsd:element name="icp_mail" type="xsd:string" />
                    <xsd:element name="ico_naam" type="xsd:string" />
                    <xsd:element name="ico_tel" type="xsd:string" />
                    <xsd:element name="ico_mail" type="xsd:string" />
                    <xsd:element name="sep_naam" type="xsd:string" />
                    <xsd:element name="sep_tel" type="xsd:string" />
                    <xsd:element name="sep_mail" type="xsd:string" />
                    <xsd:element name="ssc_naam" type="xsd:string" />
                    <xsd:element name="ssc_tel" type="xsd:string" />
                    <xsd:element name="ssc_mail" type="xsd:string" />
                    <xsd:element name="gac_naam" type="xsd:string" />
                    <xsd:element name="gac_tel" type="xsd:string" />
                    <xsd:element name="gac_mail" type="xsd:string" />
                    <xsd:element name="gtc_naam" type="xsd:string" />
                    <xsd:element name="gtc_tel" type="xsd:string" />
                    <xsd:element name="gtc_mail" type="xsd:string" />
                    <xsd:element name="hdb_naam" type="xsd:string" />
                    <xsd:element name="hdb_tel" type="xsd:string" />
                    <xsd:element name="hdb_mail" type="xsd:string" />
                    <xsd:element name="hcp_naam" type="xsd:string" />
                    <xsd:element name="hcp_tel" type="xsd:string" />
                    <xsd:element name="hcp_mail" type="xsd:string" />
                    <xsd:element name="qib_naam" type="xsd:string" />
                    <xsd:element name="qib_tel" type="xsd:string" />
                    <xsd:element name="qib_mail" type="xsd:string" />
                    <xsd:element name="icp" type="tns:ContactsArray" />
                    <xsd:element name="ico" type="tns:ContactsArray" />
                    <xsd:element name="sep" type="tns:ContactsArray" />
                    <xsd:element name="ssc" type="tns:ContactsArray" />
                    <xsd:element name="gac" type="tns:ContactsArray" />
                    <xsd:element name="gtc" type="tns:ContactsArray" />
                    <xsd:element name="hdb" type="tns:ContactsArray" />
                    <xsd:element name="hcp" type="tns:ContactsArray" />
                    <xsd:element name="qib" type="tns:ContactsArray" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="invoerKlant">
                <xsd:all>
                    <xsd:element name="var_type" type="xsd:string" />
                    <xsd:element name="var_value" type="xsd:string" />
                    <xsd:element name="version" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="getKlantSingleRequest">
        <part name="invoer" type="tns:invoerKlant" />
    </message>
    <message name="getKlantSingleResponse">
        <part name="return" type="tns:Klanten" />
    </message>
    <message name="getKlantListRequest">
        <part name="invoer" type="tns:invoerKlant" />
    </message>
    <message name="getKlantListResponse">
        <part name="return" type="tns:Klantnamen" />
    </message>
    <portType name="ksrPortType">
        <operation name="getKlantSingle">
            <documentation>Haalt klantgegevens van een enkele klant op &lt;br/&gt; Zie verder &lt;a
                href=&quot;https://idd-ws.surfnet.nl/index.php&quot;&gt;de IDD webservices pagina&lt;/a&gt;.
            </documentation>
            <input message="tns:getKlantSingleRequest" />
            <output message="tns:getKlantSingleResponse" />
        </operation>
        <operation name="getKlantList">
            <documentation>Haalt klantgegevens van een groep klanten op &lt;br/&gt; Zie verder &lt;a
                href=&quot;https://idd-ws.surfnet.nl/index.php&quot;&gt;de IDD webservices pagina&lt;/a&gt;.
            </documentation>
            <input message="tns:getKlantListRequest" />
            <output message="tns:getKlantListResponse" />
        </operation>
    </portType>
    <binding name="ksrBinding" type="tns:ksrPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="getKlantSingle">
            <soap:operation soapAction="urn:ksr#getKlantSingle" style="rpc" />
            <input>
                <soap:body use="encoded" namespace="urn:ksr" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:ksr" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="getKlantList">
            <soap:operation soapAction="urn:ksr#getKlantList" style="rpc" />
            <input>
                <soap:body use="encoded" namespace="urn:ksr" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:ksr" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="ksr">
        <port name="ksrPort" binding="tns:ksrBinding">
            <soap:address location="https://idd-ws.surfnet.nl:443/getKlant.php" />
        </port>
    </service>
</definitions>